*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container{
    margin: 0 auto;
    max-width: 1350px;
    text-align: center;
    position: relative;
}

.image-container{
    width: 100%;
    margin-bottom: 20px;
}

#slider-image{
    max-height: 400px;
    width: 100%;
}

.image-buttons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}